* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(110deg, #d9e3e2, #318877);
    overflow: auto;
}

div > ol li:before {
    content: ">>";
    margin-right: 7px;
    color: #c50000;
}

.monkey {
    background-image: url(../img/png-monkey.png);
    background-size: 200px;
    background-repeat: no-repeat;
    position: fixed;
    top: 79%;
    left: 79%;
    height: 100%;
    width: 100%;
    z-index: 2;
}

[id="h1"] {
    font-style: italic;
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #e27d60;
    text-shadow: 2px 2px 8px #000000;
}

/***************************************************************************   Menu   */
.mainMenu {
    background-image: linear-gradient(45deg, #ffffff, #e27d60);
    width: 100%;
    height: 40px;
}

.mainMenu ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.mainMenu li {
    list-style: none;
    padding: 10px 15px;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
}

.mainMenu a {
    text-decoration: none;
    font-size: 18px;
    color: #e27d60;
    text-shadow: 1px 1px 1px #000000;
}

#h2 {
    color: #e27d60;
    background-color: #000000;
    border-radius: 40px 0px;
    max-width: 50%;
    text-transform: uppercase;
    letter-spacing: 7px;
    opacity: 0.3;
}

[id="dis"] {
    line-height: 30px;
}

#federation {
    color: #e27d60;
    letter-spacing: 5px;
    text-shadow: 4px 1px 2px #000000;
    text-decoration: underline;
}

.firstParagraph {
    text-align: center;
    padding: 0 100px;
    background-image: url("../img/background-1.jpg");
    background-size: cover;
    border-radius: 20px 70px;
}

.brembo-hidden {
    visibility: hidden;
}

.brembo-original {
    color: rgba(0, 0, 0, 0);
    font-size: 20px;
    text-shadow: 0 0 2px #594e4e;
}

[class="main"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

[class="img"] {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.img:hover {
    border-radius: 50px;
    border: 2px dashed #e27d60;
}

.main-2 {
    display: flex;
}

.tableText {
    width: 30%;
    margin: 20px;
    max-height: 400px;
    overflow: auto;
    word-break: break-all;
}

.break-word {
    font-family: "teddy_font";
    word-break: break-word;
    outline: 11px dotted #e27d60;
}

ol {
    font-family: courier, monospace;
    border: #e27d60 dashed 3px;
    margin-left: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #e27d60 solid 2px;
}

fieldset {
    margin-bottom: 20px;
    background-color: #318877;
    min-width: 50%;
}

legend {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
    word-spacing: 7px;
}

:checked {
    background-color: #e27d60;
    margin-left: 15px;
    box-shadow: 0px 0px 7px 1px #D2691EFF;
}

:disabled {
    background-color: #655f5f;
}

.loremText:empty::before {
    border: 2px dashed #e27d60;
    height: 50px;
    content: "Тут был контент";
    font-size: 25px;
    font-style: italic;
}

.loremText b {
    color: #318877;
    letter-spacing: 10px;
    font-size: 20px;
    text-decoration: underline;
}

button:not([type]) {
    height: 30px;
    border-radius: 50% 0;
    border-color: #e27d60;
}

[type="reset"] + button {
    color: #e27d60;
}

[type="button"] ~ button {
    color: #17d3c1;
}

.input:focus {
    width: 200px;
    transition: font-size 0.3s;
    background-color: rgb(142, 175, 172);
}

a:hover {
    font-size: 28px;
    background-color: rgba(49, 136, 119, 0.65);
    border-radius: 70%;
    transition: border, font-size 0.8s;
}

table {
    background-color: #318877;
    text-align: center;
    margin: 20px;
    border-collapse: collapse;
    box-shadow: inset 1px 1px 20px 2px #ffffff;
    width: 70%;
    cursor: pointer;
}

th,
td {
    border: #e27d60 solid 2px;
    padding: 10px;
}

td:first-child {
    background-color: #d9c6bf;
}

td:last-child {
    background-color: #9f9074;
}

tr:nth-child(4) {
    background-color: #a2e7db;
    font-style: italic;
    font-weight: bold;
}

td:only-child {
    background-color: white;
}

th:nth-child(2) {
    background-color: #8d66b6;
}

ul > li {
    color: #003a30;
}

div ul > li:hover::before {
    content: ">";
    font-weight: bold;
    color: #c50000;
}

div ul > li:hover::after {
    content: "<";
    font-weight: bold;
    color: #c50000;
}

textarea::placeholder {
    color: #c50000;
    letter-spacing: 8px;
}

.listTitle {
    display: inline-block;
    width: 30%;
    transform: translate(-250px, 0);
}

.listTitle li {
    list-style-type: square;
    list-style-position: inside;
    border: 1px solid #d91616;
    margin: 10px;
    padding: 7px 0;
}

.londonImg {
    width: 15%;
    height: 15%;
    transform: translate(700px, -50px) rotate(355deg) scale(1.4);
}

.londonImg:hover {
    width: 20%;
    height: 20%;
    transform: translate(700px, -30px) rotate(2deg) scale(1.5);
    transition-duration: 1s;
    transition-delay: 0.5s;
}

dt {
    font-family: teddy_font, monospace;
    font-size: 25px;
    margin-left: 60px;
    color: #e27d60;
}

dd {
    font-family: arkhip_font, serif;
    font-size: 15px;
}

@font-face {
    font-family: "teddy_font";
    src: url("../fonts/teddy-bear.ttf");
}

@font-face {
    font-family: "arkhip_font";
    src: url("../fonts/d9464-arkhip_font.ttf");
}

/******************************************************************** animation   */
.animation {
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding-top: 60px;
}

.highway {
    height: 200px;
    width: 500%;
    display: block;
    background-image: url("../img/animation/road.jpg");
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 6s linear infinite;
}

@keyframes highway {
    100% {
        transform: translateX(-3400px);
    }
}

.car {
    width: 400px;
    position: relative;
    left: 50%;
    bottom: 230px;
    transform: translateX(-50%) scale(-1, 1) rotate(1deg);
    z-index: 2;
}

.car img {
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car {
    100% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
    0% {
        transform: translateY(-1px);
    }
}

.wheel {
    left: 50%;
    position: relative;
    bottom: 171px;
    transform: translateX(-50%);
    z-index: 2;
}

.wheel img {
    width: 62px;
    height: 62px;
    animation: wheel 1s linear infinite;
}

.back-wheel {
    top: -114px;
    left: 580px;
    position: relative;
}

.front-wheel {
    top: -113px;
    left: 768px;
    position: relative;
}

@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}

.wheelAnimationMain {
    position: relative;
    height: 40px;
    width: 100%;
    border: rgba(226, 125, 96, 0.77) solid 2px;
}

.wheelAnimation {
    height: 35px;
    width: 35px;
    position: absolute;
    background-image: url("../img/animation/wheel.png");
    background-size: cover;
    transition-property: all;
    animation-name: wheelAnimation;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wheelAnimation {
    0% {
        left: 0;
        transform: translate(0) rotate(180deg);
    }

    50% {
        left: 100%;
        transform: translate(-100%);
    }

    100% {
        left: 0;
        transform: translate(0) rotate(360deg);
    }
}

@media screen and (max-device-width: 565px) {
    #h1 {
        font-size: 16px;
    }

    .tableText {
        width: 25%;
        margin: 10px;
        max-height: 200px;
        overflow: auto;
    }

    .mainMenu {
        display: none;
    }
}