* {
    box-sizing: border-box;
    font-family: Verdana, serif;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

/* --------------------------------------------- Header */
.header {
    background-color: #ececec;
}

.header .listHeader {
    margin: auto;
    height: 27px;
    width: 1010px;
    font-size: 11px;
    line-height: 25px;
}

.header .listHeader a {
    margin-right: 13px;
    color: #676767;
}

.header .listHeader a:last-child {
    float: right;
    margin-right: 0;
}

.mainHeader {
    height: 105px;
    background-color: #218fbb;
}

.headerContainer {
    margin: auto;
    width: 1010px;
    position: relative;
}

.headerContainer a {
    color: #ffffff;
    font-size: 10px;
}

.headerContainer img {
    margin-left: 10px;
}

.newsBar {
    display: inline-block;
    background-color: #1f6987;
    border: 3px solid #ffffff;
    border-radius: 5px;
    width: 370px;
    height: 28px;
    font-size: 10px;
    line-height: 20px;
    padding-left: 30px;
    margin: 12px 12px 35px 5px;
    position: relative;
    top: 10px;
}

.newsBar .btnPrevious {
    position: absolute;
    top: 4px;
    left: -2px;
    background-color: transparent;
    border: 6px solid transparent;
    border-right: 6px solid #ffffff;
    padding: 0;
}

.newsBar .btnNext {
    position: absolute;
    top: 4px;
    left: 355px;
    background-color: transparent;
    border: 6px solid transparent;
    border-left: 6px solid #ffffff;
    padding: 0;
}

.logIn {
    position: absolute;
    top: 18px;
    font-weight: bold;
    background-image: url(../images/1.gif);
    width: 100px;
    height: 37px;
    padding: 10px 0 0 45px;
}

.registration {
    position: absolute;
    top: 18px;
    right: 18px;
    display: inline-block;
    font-weight: bold;
    background-image: url("../images/2.gif");
    width: 166px;
    height: 36px;
    padding: 10px 0 0 67px;
}

.mainHeader .menu {
    margin: auto;
    width: 1010px;
}

.mainHeader .menu a {
    display: inline-block;
    background-color: #0b6588;
    width: 128px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.mainHeader .menu a:first-child {
    background-color: #043a4f;
}

.mainHeader .menu a:nth-child(6) {
    background-color: #89c160;
    width: 142px;
}

.mainHeader .menu a:last-child {
    width: 90px;
    margin-left: 55px;
    background-color: #74b8d2;
}

/* --------------------------------------------- Module: Banner */
.page {
    width: 1010px;
    margin: 0 auto;
    background: #043a4f;
    padding: 7px;
    border-radius: 0 0 5px 5px;
}

.banner {
    position: relative;
    background-color: #1f617a;
    height: 180px;
    font-size: 12px;
    padding: 0 120px 0 45px;
    color: #ffffff;
    margin-bottom: 7px;
    border-radius: 5px;
}

.banner h2 {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    margin: 0;
    padding-top: 15px;
}

.pagination {
    position: absolute;
    top: 15px;
    right: 117px;
}

.pagination button {
    color: #ffffff;
    background-color: #218fbb;
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    width: 25px;
    height: 25px;
}

.pagination button:first-child {
    background-color: #2fbaf1;
}

.banner .btnPrevious {
    position: absolute;
    bottom: 8px;
    left: 10px;
    background-color: #218fbb;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.banner .btnPrevious::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: -5px;
    border: 10px solid transparent;
    border-right: 15px solid #ffffff;
}

.banner .btnNext {
    position: absolute;
    right: 10px;
    bottom: 8px;
    background-color: #218fbb;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.banner .btnNext::before {
    content: "";
    position: absolute;
    bottom: 2px;
    right: -5px;
    border: 10px solid transparent;
    border-left: 15px solid #ffffff;
}

.banner .btnToggler {
    position: absolute;
    right: 0;
    top: -17px;
    background-color: #1f617a;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.banner .btnToggler::before {
    content: "";
    position: absolute;
    right: 7px;
    top: 8px;
    border: 6px solid transparent;
    border-top: 7px solid #ffffff;
}

/* --------------------------------------------- Module: InformationPage */
.mainInformationPage {
    height: 510px;
    background: #fff;
    border-radius: 5px;
}

/* --------------------------------------------- Footer */
.footer {
    margin: auto;
    height: 35px;
    width: 1010px;
    font-size: 10px;
    padding-top: 20px;
}

.footer a {
    margin-right: 35px;
    margin-left: 15px;
    color: #676767;
}

.footer a:last-child {
    float: right;
    margin-right: 10px;
    color: #043a4f;
}