* {
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    margin: 0;
}

.header {
    background-color: #ececec;
}

.header .listHeader {
    margin: auto;
    height: 27px;
    width: 1010px;
    font-size: 10px;
    line-height: 25px;
}

.header .listHeader a {
    margin-right: 24px;
    color: #676767;
}

.header .listHeader a:last-child {
    float: right;
    margin-right: 0;
}

.mainHeader {
    height: 105px;
    background-color: #218fbb;
}

.headerContainer {
    margin: auto;
    width: 1010px;
}

.headerContainer a {
    color: #ffffff;
    font-size: 10px;
}

.headerContainer img {
    margin-left: 10px;
}

.newsBar {
    display: inline-block;
    background-color: #1f6987;
    border: 3px solid #ffffff;
    border-radius: 5px;
    width: 370px;
    height: 28px;
    font-size: 10px;
    line-height: 20px;
    padding-left: 30px;
    margin: 12px 12px 35px 5px;
    position: relative;
    top: 10px;
}

.newsBar::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -2px;
    border: 6px solid transparent;
    border-right: 6px solid #ffffff;
}

.newsBar::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 355px;
    border: 6px solid transparent;
    border-left: 6px solid #ffffff;
}

.logIn {
    display: inline-block;
    font-weight: bold;
    background-image: url(/job_fair/images/1.gif);
    width: 100px;
    height: 37px;
    margin-right: 10px;
}

.logIn .logInText {
    position: relative;
    top: 10px;
    left: 45px;
    font-size: 12px;
}

.registration {
    display: inline-block;
    font-weight: bold;
    background-image: url("/job_fair/images/2.gif");
    width: 166px;
    height: 36px;
}

.registration .registrationText {
    position: relative;
    top: 10px;
    left: 60px;
    font-size: 12px;
}

.mainHeader .menu {
    margin: auto;
    width: 1010px;
}

.mainHeader .menu div {
    display: inline-block;
    background-color: #0b6588;
    width: 128px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
}

.mainHeader .menu a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.mainHeader .menu div:first-child {
    background-color: #043a4f;
}

.mainHeader .menu div:nth-child(6) {
    background-color: #89c160;
}

.mainHeader .menu div:last-child {
    width: 90px;
    margin-left: 55px;
    background-color: #74b8d2;
}

.newsPage {
    background-color: #1f617a;
    margin: auto;
    border: 7px solid #043a4f;
    width: 1010px;
    height: 195px;
    font-size: 12px;
    padding: 0 120px 0 45px;
    color: #ffffff;
    position: relative;
}

.newsPage h2 {
    font-family: "Times New Roman";
    font-size: 24px;
    margin: 15px 0;
}

.mainInformationPage {
    border: 7px solid #043a4f;
    margin: -7px auto 0;
    width: 1010px;
    height: 715px;
}

.numberOfArticles div {
    position: relative;
    top: -152px;
    left: 671px;
    background-color: #218fbb;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.numberOfArticles div:first-child {
    background-color: #2fbaf1;
}

.arrowBeforeNews {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #218fbb;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.arrowBeforeNews::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -5px;
    border: 10px solid transparent;
    border-right: 15px solid #ffffff;
}

.arrowNextNews {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #218fbb;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.arrowNextNews::before {
    content: "";
    position: absolute;
    bottom: 3px;
    right: -5px;
    border: 10px solid transparent;
    border-left: 15px solid #ffffff;
}

.closeBottom {
    position: absolute;
    right: -1px;
    top: -20px;
    background-color: #1f617a;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.newsPage .closeBottom::after {
    content: "";
    position: absolute;
    right: 7px;
    top: 8px;
    border: 6px solid transparent;
    border-top: 7px solid #ffffff;
}

.footer {
    margin: auto;
    height: 35px;
    width: 1010px;
    font-size: 10px;
    padding-top: 20px;
}

.footer a {
    margin-right: 35px;
    margin-left: 15px;
    color: #676767;
}

.footer a:last-child {
    float: right;
    margin-right: 10px;
    color: #043a4f;
}