@mixin pop($left, $top) {
    &:hover {
        border-top: 15px solid #d5d5d5;
        background: linear-gradient(#ffffff, #d9d9d9);

        &::after {
            content: attr(data-pop);
            font-size: 14px;
            padding-top: 32px;
            padding-left: 15px;
            height: 58px;
            width: 211px;
            position: absolute;
            left: $left;
            top: $top;
            background-image: url("../images/tip.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #424242;
    font: 14px Arial, sans-serif;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
}

p {
    line-height: 20px;
}

/* ---------------------------------------- Header */

.header {
    width: 1000px;
    margin: 0 auto;
    height: 150px;
    position: relative;

    img {
        margin: 10px 0;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;

        a {
            display: flex;
            justify-content: center;
            width: 140px;
            height: 150px;
            margin-left: 5px;
            border-top: 15px solid #319aa3;
            padding-top: 50px;
            font-size: 20px;
            text-decoration: none;
            color: #000;

            @include pop(12px, 120px);

            &:first-child {
                border-top: 15px solid #ff7800;
                @include pop(-130px, 120px);
            }

            &:last-child {
                border-top: 15px solid #1e3436;
                @include pop(160px, 120px);
            }
        }
    }
}

/* ---------------------------------------- Main line */

.mainLine {
    background: linear-gradient(#333333, #494949);
    box-shadow: 0px 7px 15px 0px #b2b2b2;

    .main {
        color: #fff;
        width: 1000px;
        margin: 0 auto;
        padding: 5px 330px 5px 0;
        position: relative;

        p {
            margin: 10px 0;
            padding: 10px;
            border-left: 7px solid #646464;
        }

        .satisfactionImg {
            background-image: url(../images/shadow.png);
            height: 150px;
            width: 152px;
            position: absolute;
            top: 0;
            right: 150px;

            &::after {
                content: "";
                background-image: url(../images/satisfaction.gif);
                height: 150px;
                width: 152px;
                position: absolute;
                top: 3px;
                right: -1px;
            }
        }
    }
}

/* ---------------------------------------- Offer line */

.offerLine {
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    position: relative;

    .offer {
        width: 375px;
        color: #747474;
    }

    p {
        margin: 25px 0;
        padding: 10px;
        border-left: 7px solid #efefef;
    }

    p:nth-child(2)::after {
        content: "";
        background-image: url(../images/p1.jpg);
        height: 83px;
        width: 87px;
        position: absolute;
        top: 60px;
        right: 510px;
    }

    p:nth-child(3)::after {
        content: "";
        background-image: url(../images/p2.jpg);
        height: 83px;
        width: 87px;
        position: absolute;
        top: 190px;
        right: 510px;
    }
}

/* ---------------------------------------- Offer content */

.offerContent {
    display: flex;
    width: 1000px;
    margin: 40px auto;

    .offer {
        width: 33.33%;
        padding: 30px;
        border-left: 7px solid #efefef;
        position: relative;
        color: #747474;

        &:last-child {
            border-right: 7px solid #efefef;
        }

        h4 {
            font-weight: normal;
            font-size: 16px;
            margin: 10px;

            &::after {
                content: "";
                background-image: url(../images/dot.jpg);
                height: 40px;
                width: 36px;
                position: absolute;
                top: 27px;
                left: 21px;
                z-index: -1;
            }
        }

        ul {
            list-style: none;
        }
    }
}

/* ---------------------------------------- Contact line */

.contactLine {
    width: 1000px;
    margin: 0 auto;
    padding: 5px;

    h3 {
        font-weight: normal;
    }

    .contact {
        width: 460px;
        text-align: right;

        label {
            font-family: serif;
        }

        label[for="message"] {
            position: relative;
            top: -90px;
        }

        input {
            width: 300px;
            margin: 0 50px 10px 10px;
            border: 1px solid #d6d6d6;
        }

        textarea {
            margin-left: 10px;
            width: 350px;
            height: 100px;
            border: 1px solid #d6d6d6;
        }

        button {
            height: 20px;
            width: 100px;
            border: 1px solid #cccc99;
            background-color: #ddd;
            position: relative;
            right: 250px;
            margin-top: 10px;
        }
    }
}

/* ---------------------------------------- Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    background-color: #343434;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}
