* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: url("../images/background.gif");
    font-family: Verdana, sans-serif;
}

/*--------------------------------------------------------- header */
.header {
    height: 32px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #d08900;
}

.locations {
    position: absolute;
    top: 5px;
    right: 20px;
}

.locations label {
    margin-right: 15px;
    font-size: 10px;
}

/*--------------------------------------------------------- menu */
.menu {
    height: 30px;
    width: 719px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    position: relative;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:first-child::before {
    content: "";
    background-image: url("../images/basket.gif");
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: -23px;
}

/*--------------------------------------------------------- main */
.main {
    width: 719px;
    min-height: 964px; /* 840 without banner */
    flex-grow: 1;
    margin: auto;
    background-color: #000;
    outline: 1px solid #d08900;
    position: relative;
}

.mainMenu {
    margin: 5px 0 20px;
}

.mainMenu a {
    font-family: "Times New Roman", serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 38px;
}

.mainMenu a:hover {
    color: #d08900;
}

.mainMenu a:not(:last-child) {
    border-right: 1px solid #fff;
}

/*--------------------------------------------------------- banner */
.banner {
    font-family: Tahoma, sans-serif;
    display: flex;
    color: #fff;
    font-size: 12px;
    padding-right: 22px;
}

.banner img {
    margin: 4px 15px;
    width: 328px;
    height: 181px;
}

.content p {
    margin-top: 0;
}

/*--------------------------------------------------------- pages */
.pages {
    height: 40px;
    width: 100%;
    background-color: #0f0900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.pages a {
    font-family: "Times New Roman", serif;
    font-size: 12px;
    color: #d08900;
    padding: 0 3px;
    margin: 0;
    text-decoration: none;
}

.pages a:hover {
    text-decoration: underline;
}

.pages a:not(:last-child) {
    border-right: 1px solid #d08900;
}

/*--------------------------------------------------------- footer */
.footer {
    height: 30px;
    background-color: #000;
    border-top: 1px solid #d08900;
    color: #fff;
    font-size: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: relative;*/
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

.footer a:hover {
    text-decoration: underline;
}