$textColor: #decacb;
$borderColor: #6a5455;

@mixin button {
    width: 250px;
    height: 35px;
    background-color: #35a8b9;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #473b38;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 120px;
    position: relative;
}

/* ---------------------------------------- Header */

.header {
    height: 100px;
    border-bottom: 1px solid $borderColor;

    img {
        margin: 20px 0;
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 0;

        a {
            font-size: 12px;
            margin-left: 20px;
            text-decoration: none;
            color: $textColor;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                border-top: 10px solid #594546;
            }
        }
    }
}

/* ---------------------------------------- Promotion Banner */

.promotionBanner {
    width: 400px;
    height: 140px;
    padding-left: 100px;
    background-color: #594546;
    position: relative;
    left: -125px;
    border: 1px solid $borderColor;
    color: $textColor;
    margin-bottom: 20px;

    h2 {
        font-size: 20px;
        margin: 20px 0 10px;
    }

    h2 b {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    @media (max-width: 1200px) {
        width: 275px;
        height: 140px;
        padding-left: 10px;
        background-color: #594546;
        position: relative;
        left: 0;
        border: 1px solid $borderColor;
        color: $textColor;
        margin-bottom: 20px;
    }
}

/* ---------------------------------------- Cooperation Banner */

.cooperationBanner {
    background-color: #3c322f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    p {
        font-size: 12px;
        color: #7d696a;
        margin: 24px 0 8px;
        line-height: 20px;

        &:nth-child(2) {
            color: #fff;
            font-style: italic;
            font-weight: bold;
        }
    }

    button {
        @include button;
        margin: 30px 0 45px;
        width: 100%;
    }
}

/* ---------------------------------------- Grid */

.columns {
    padding-top: 30px;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.column-left {
    float: left;
    width: 30%;
    padding-right: 10px;
}

.column-right {
    float: left;
    width: 70%;
    padding-left: 15px;
}

/* ---------------------------------------- Registration */

.registration {
    display: flex;

    &::before {/* TODO: положи на фон у apply или registration */
        content: "";
        background-image: url("../images/cards.jpg");
        width: 50%;
        background-repeat: no-repeat;
        height: 192px;
    }

    img {
        margin-left: 15px;
    }

    .apply {
        text-align: right;
        width: 50%;

        h3 {
            font-family: Verdana, sans-serif;
            color: #95d0d9;
            font-size: 15px;
            margin: 0 15px 10px 0;
        }

        label[for="organization"],
        label[for="phone"] {
            color: $textColor;
            font-size: 13px;
            margin-right: 15px;
        }

        input {
            width: 170px;
            height: 22px;
            border: 1px solid #35a8b9;
            margin: 5px 0;
        }

        button {
            @include button;
            margin-top: 23px;
        }
    }
}

/* ---------------------------------------- Content */

.content {
    padding: 0 10px;

    h3 {
        font-family: Verdana, sans-serif;
        color: #95d0d9;
        font-size: 18px;
        margin: 23px 0;
    }

    p,
    ol {
        color: $textColor;
        font-size: 12px;
        margin: 25px 0;
        line-height: 20px;
    }
}

/* ---------------------------------------- The Participants Content */

.theParticipantsContent {
    padding: 0 10px;
    position: relative;

    .theParticipantsText {
        h3 {
            color: #fff;
            font-size: 15px;
            margin: 23px 0;
        }

        a {
            color: $textColor;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 40px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .images {
        img {
            border: 10px solid #3c312f;
            margin: 8px;
        }
    }
}

/* ---------------------------------------- Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $borderColor;
    height: 120px;

    img {
        margin-top: 15px;
    }

    a {
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 50px;
        left: 100px;

        &:hover {
            text-decoration: none;
        }
    }
}
