* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Tahoma, sans-serif;
}

.page {
    width: 1014px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 100px;
    position: relative;
    background-color: #2f3239;
}

/* ---------------------------------------- Basic styles */

h3 {
    margin: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fd6803;
    font-weight: bold;
    font-family: Verdana, serif;
    text-align: center;
}

p {
    font-size: 14px;
    margin: 15px 0;
}

ul {
    margin-left: 20px;
    list-style-image: url("../images/dot.png");
}

li {
    margin: 10px 0;
}

a {
    color: #e5e5e5;

    &:hover {
        text-decoration: none;
    }
}

/* ---------------------------------------- Header */

.header {
    height: 320px;
    position: relative;
    background: 80% 10% url("../images/car.png") no-repeat, linear-gradient(to bottom, #2f3339, #17181b 80px, #000 1rem, #000 15rem, #2f3339 1rem, #16181b );

    .logoLine {
        position: absolute;
        top: 80px;
        left: 90px;

        h2 {
            font-family: Franklin Gothic, serif;
            font-size: 18px;
            color: #a8aebe;
            font-weight: normal;
        }
    }

    .menuLine {
        position: absolute;
        bottom: 0;
        background-color: #fd6803;
        height: 40px;
        width: 100%;

        .menu {
            margin: 0 10px;
            display: flex;
        }

        a {
            margin: 0 5px;
            font-size: 16px;
            letter-spacing: 1px;
            color: #161616;
            padding: 10px 0 5px 0;
            font-weight: bold;
            font-family: Verdana, serif;
            text-decoration: none;
            display: block;
            min-width: 180px;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                color: #fd6803;
                background-color: #2e3138;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

/* ---------------------------------------- Grid */

.columns {
    padding-top: 30px;
    background-color: #000;
}

.column-background {
    display: flex;
    background-color: #2f3239;
}

.column-left {
    margin-left: 15px;
    color: #e5e5e5;
    width: 33.33%;
    padding: 20px;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
}

.column-center {
    color: #e5e5e5;
    width: 33.33%;
    padding: 15px;
    border-right: 1px dashed #fff;
}

.column-right {
    margin-right: 20px;
    color: #e5e5e5;
    width: 33.33%;
    padding: 15px;
    border-right: 1px dashed #fff;
}

/* ---------------------------------------- Gallery */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        border: 5px solid #fff;
        margin: 10px 3px;

        &:hover {
            transition: 0.5s;
            opacity: 0.6;
        }
    }
}

/* ---------------------------------------- Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 20px 50px;
    border-bottom: 10px solid #fd6a03;

    h4 {
        font-size: 18px;
        color: #fd5803;
        font-family: Arial, sans-serif;
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
        color: #d6d5d5;
        font-family: Tahoma, serif;
    }
}